PORT=5000
MONGO_URI=mongodb+srv://gulshandigitalzone_db_user:tODn6yUKgNIJ8D8R@contactdb.tnhri4l.mongodb.net/?appName=contactdb
ADMIN_USER=user
ADMIN_PASS=Password
ORIGIN=https://developercontect.netlify.app/
